body {
    background-color: cornsilk;
    padding: 20px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

ul li {
    display: inline;
    list-style: none;
    padding: 10px
}

hr {
    border: none;
    height: 1px;
    background-color: #333; 
}

.image, .icons {
    display: flex;
    justify-content: center;
}

.icons i {
    padding: 2px;
}


.icons i:hover, ul li:hover {
    color: cadetblue;
}