body {
    background-color: #f8f2d2;
    padding: 20px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.logo {
    max-width: 150px;
}

.list {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

ul li {
    display: inline;
    list-style: none;
    padding: 10px;
    padding-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li:last-child {
    padding-right: 0%;
}

hr {
    border: none;
    height: 1px;
    background-color: #333; 
}

.picture {
    max-width: 100%;
    height: auto;
    filter: grayscale(70%);
}

.image, .icons {
    display: flex;
    justify-content: flex-end;
}

.icons i {
    padding: 2px;
    color: black;
}

.icons i:visited {
    color: black;
}

.icons i:hover, ul li:hover {
    color: cadetblue;
}